.CreateAccount-form-container{
  width: 500px !important;
  text-align: center;
  align-self: center !important;
  justify-content: center;
}

 .body-wrapper{
   align-content: center;
   width: auto;
 }

 .SignUp-button{
 	background-color: white;
 	padding: 4px 30PX;
 	border-radius: 5px;
 	border-color: #1B998B;
 	color: #1B998B;
 	font-family: inherit;
 }

.errorTxt{
  color: red;
  font-size: 14px;
}
